<a *ngIf="icono=='prensa'" href="{{enlace}}" target="_blank" class="btn btn-1 btn-sep icon-info lgf-font"><fa-icon class="mx-2" [icon]="['fas','newspaper']"></fa-icon>PASE DE {{tipo_pase}}</a>
<a *ngIf="icono=='influencer'" href="{{enlace}}" target="_blank" class="btn btn-1 btn-sep icon-info lgf-font"><fa-icon class="mx-2" [icon]="['fas','bullhorn']"></fa-icon>PASE DE {{tipo_pase}}</a>
<a *ngIf="icono=='expositor'" href="{{enlace}}" target="_blank" class="btn btn-1 btn-sep icon-info lgf-font"><fa-icon class="mx-2" [icon]="['fas','shop']"></fa-icon>PASE DE {{tipo_pase}}</a>
