<header-seccion titulo="CONCIERTOS"></header-seccion>
<div class="container">
  <div class="row animate__animated animate__backInUp my-5">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/gallos.png" alt="">
    </div>
    <div class="col-md-8 info-conciertos">
      <span class="lgf-font">
        Contaremos con una exhibición por parte de los Gallos del Norte. Podremos disfrutar del mejor freestyle gallego y ver que ciudad se lleva el corona.
      </span>
      <p class="lgf-font my-5">Además tendremos una sorpresa para acompañar la exhibición.</p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://twitter.com/gallos_norte" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/gallosdelnortegz/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp my-5">
    <div class="col-md-4">
      <img src="./assets/fotos_invitados/NewBeatOrder.png" alt="">
    </div>
    <div class="col-md-8 info-conciertos">
      <span class="lgf-font">
        ¡Durante el evento podremos disfrutar de la música de NewBeatOrder!
      </span>
      <p class="lgf-font my-5">Dj y Productor gallego con más de 2 millones de oyentes mensuales en #Spotify que nos hará vibrar.</p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://open.spotify.com/artist/0gQDOj4OisQbTq7FUEziea?si=vgtSq7B2Rt2SmQbYPbxPpQ" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','spotify']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/NewBeatOrder/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row my-5 animate__animated animate__backInUp">
    <div class="col-md-4">
      <img src="./assets/fotos_invitados/D2.png" alt="">
    </div>
    <div class="col-md-8 info-conciertos">
      <span class="lgf-font">
        Contaremos con la presencia de Aurora y Rober.
      </span>
      <p class="lgf-font my-5">Llevan desde 2016 creando contenido en #Twitch y vendrán al evento a transmitirnos su pasión por la música, no os lo podéis perder.</p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://twitter.com/DirectoD2" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/DirectoD2/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
