<nav class="navbar navbar-expand-lg navbar-red navbar-dark sticky">
  <div class="wrapper"> </div>
  <div class="container-fluid all-show"> <a class="navbar-brand" routerLink="home"><img src="./assets/LugoGF_logoBLANCO.png" class="logo" alt=""></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
              <li (click) = proximamente() class="nav-item sombreado"> <a class="nav-link">Calendario</a> </li>
              <li routerLink="conciertos" class="nav-item sombreado"> <a class="nav-link">Conciertos</a> </li>
              <li routerLink="ponencias" class="nav-item sombreado"> <a class="nav-link">Ponencias</a> </li>
              <li (click)="proximamente()" class="nav-item sombreado"> <a class="nav-link">Guia turistica</a> </li>
              <li routerLink="actividades" class="nav-item sombreado"> <a class="nav-link">Actividades</a> </li>
          </ul>
      </div>
      <ul class="nav socialBar pull-right">
        <li class="nav-item"><a href="https://twitter.com/LugoGamingFest" target="_blank" class="nav-link socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/lugogamingfest/" target="_blank" class="nav-link socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        <li class="nav-item"><a href="https://www.twitch.tv/LugoGamingFest" target="_blank" class="nav-link socialIcon px-2 fa fa-twitch fa-2x"><fa-icon [icon]="['fab','twitch']"></fa-icon></a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/showcase/lugo-gaming-fest/" target="_blank" class="nav-link socialIcon px-2 fab fa-discord fa-2x"> <fa-icon [icon]="['fab','linkedin']"></fa-icon></a></li>
      </ul>
  </div>
</nav>
