section {
  height: 20vh;
}

@media  (max-width: 450px) {
  section {
    height: 60vh;
  }
 }

@media (max-width:320px)  {
  section {
    height: 60vh;
  }
}
@media (max-width:481px)  {
  section {
    height: 60vh;
  }
 }
