<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="PRENSA" icono="prensa" enlace = "https://jl1vldemkyr.typeform.com/to/IjtZfoEG"></app-pase>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="INFLUENCER" icono="influencer" enlace="https://jl1vldemkyr.typeform.com/to/vKZrfheE"></app-pase>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="EXPOSITOR" icono="expositor" enlace="https://jl1vldemkyr.typeform.com/to/Q2NgXUC7"></app-pase>
      </div>
    </div>
  </div>
</section>
