<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="PRENSA" icono="prensa" enlace ="https://forms.gle/pw99EgNX85oA9bkr5"></app-pase>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="INFLUENCER" icono="influencer" enlace="https://forms.gle/fQSFHe2xYP4tm2Pr5"></app-pase>
      </div>
      <div class="col-md-6 col-lg-5 col-xl-4 col-xs-12">
        <app-pase tipo_pase="EXPOSITOR" icono="expositor" enlace="https://forms.gle/tq6KPKuFYXmsbrBC8"></app-pase>
      </div>
    </div>
  </div>
</section>
