section {
  height: 20vh;
}

 @media  (max-width: 450px) {
  section {
    height: 40vh;
  }
 }
@media (max-width:773px)  {
  section {
    height: 50vh;
  }
 }

 @media (min-width:774px) and (max-width:991px)  {
  section {
    height: 40vh;
  }
 }

 @media (min-width:991px) and (max-width:1630px)  {
  section {
    height: 35vh;
  }
 }
