<header-seccion titulo="PONENCIAS"></header-seccion>
<div class="container">
  <div class="row my-5">
    <div class="col-md-12 animate__animated animate__fadeIn">
      <h3 class="lgf-font">Tocaremos tres ramas muy interesantes que están a la orden del día en el sector: nutrición en el #gaming y los #Esports, historia y #mitología en videojuegos y por último, la #psicología aplicada a los videojuegos.</h3>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/Ponencia_psicologia.jpg" alt="">
    </div>
    <div class="col-md-8 info-ponencias">
      <span class="lgf-font">
        Psicología y videojuegos: Con esta ponencia, Dani González, nos hará conocedores de cómo funciona nuestro cerebro cuando jugamos a #videojuegos y que capacidades desarrollamos con ello.
      </span>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://twitter.com/Dvpsico" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/Dvpsico/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row my-5 animate__animated animate__backInUp">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/Ponencia_mitologia.jpg" alt="">
    </div>
    <div class="col-md-8 info-ponencias">
      <span class="lgf-font">
        Estará con nosotros Helena Cueto Novella y se encargará de acercar al público la #historia y mitología que se refleja en los videojuegos, buscando el equilibrio entre lo didáctico y la diversión.
      </span>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://twitter.com/HelanyaH" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/HelanyaH/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/Ponencia_Nutricion.jpg" alt="">
    </div>
    <div class="col-md-8 info-ponencias">
      <span class="lgf-font">
        Nutrición en el gaming y los Esports: Contaremos con Ricardo Estévez y Sonia Boado, especialistas en #nutrición deportiva y cocina vegetariana, con 6 años de experiencia.
      </span>
      <p class="lgf-font my-3">
        Nos hablarán de la importancia de una buena nutrición dentro de un sector como el nuestro.
      </p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://www.instagram.com/Restevez_nhd/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://www.instagram.com/ideas_precocinadas/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp my-5">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/Regina_Gomez_Insta.jpg" alt="">
    </div>
    <div class="col-md-8 info-ponencias">
      <span class="lgf-font">
        Regina Gómez nos trae una ponencia muy interesante donde nos hablará de los sentimientos que pueden llegar a despertar los videojuegos en las personas que disfrutamos con ellos.
      </span>
      <p class="lgf-font my-3">
        Sin duda alguna, nos hará obtener un punto de vista que normalmente no podríamos percibir.
      </p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://www.instagram.com/reginagomezcartagena/" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp my-5">
    <div class="col-md-4">
      <img src="./assets/imagenes_ponencias/Presentacion_de_Dr_Insta.jpg" alt="">
    </div>
    <div class="col-md-8 info-ponencias">
      <span class="lgf-font">
        Es un placer anunciar que tendremos con el Dr. Jose Luis Montiel en Lugo Gaming Fest.
      </span>
      <p class="lgf-font my-3">
        Nos hablara de todo lo bueno que nos aportan los videojuegos, pero también de las posibles adicciones que pueden generar.
      </p>
      <div class="col-md-12 text-center">
        <ul class="nav socialBar">
          <li class="nav-item"><a href="https://twitter.com/xMontyGG" target="_blank" class="socialIcon px-2 fa fa-twitter fa-2x"><fa-icon [icon]="['fab','twitter']"></fa-icon></a></li>
          <li class="nav-item"><a href="https://instagram.com/xmontygg" target="_blank" class="socialIcon px-2 fa fa-instagram fa-2x"><fa-icon [icon]="['fab','instagram']"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
