<div class="container h-100">
  <div class="row align-middle">
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-1">
        <div class="txt">
          <h1>ZONA DEVELOPERS</h1>
          <p>Visual communication and problem-solving</p>
        </div>
        <a href="#">more</a>
        <div class="ico-card">
          <fa-icon [icon]="['fab','facebook']"></fa-icon>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-2">
        <div class="txt">
          <h1>ZONA ESPORTS</h1>
          <p>How design is implemented on the web.</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <fa-icon [icon]="['fab','instagram']"></fa-icon>
      </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 column">
      <div class="card gr-3">
        <div class="txt">
          <h1>ZONA NFT</h1>
          <p>User Interface and User Experience Design.</p>
        </div>
        <a href="#">more</a>
      <div class="ico-card">
        <fa-icon [icon]="['fab','twitter']"></fa-icon>
      </div>
      </div>
    </div>
  </div>
</div>
