img {
  max-height: 30vh;
  cursor: pointer;
}

.accordion-button {
  padding: 0 !important;
}

.minitorneo:hover {
  transition-duration: 1.2s;
  background-color: #3498db;
  padding: 1rem;
  cursor: pointer;
}

.titulo-torneo {
  font-size: 2em;
}

@media  (max-width: 450px) {
  .titulo-torneo {
    font-size: 1em;
  }
 }

@media (max-width:320px)  {
  .titulo-torneo {
    font-size: 1em;
  }
}
@media (max-width:481px)  {
  .titulo-torneo {
    font-size: 1em;
  }
 }

