<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <img class="accordion-button" src="./assets/juegos/LOL.png" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" />
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body minitorneo">
              <strong class="lgf-font titulo-torneo">League of Legends – Parada Circuito Tormenta.</strong>
              <p class="my-2 mx-2 lgf-font"><fa-icon [icon]="['fas','trophy']"></fa-icon> 1000 euros en metálico</p>
              <p><fa-icon class="my-2 mx-2" [icon]="['fas','calendar']"></fa-icon>Primer clasificatorio 6 de marzo y el segundo el 20 de marzo.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <img class="accordion-button" src="./assets/juegos/VALORANT.png" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" />
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row minitorneo">
                <div class="col-md-12">
                  <strong class="lgf-font titulo-torneo">Valorant – Parada Circuito Tormenta.</strong>
                  <p class="my-2 mx-2 lgf-font"><fa-icon [icon]="['fas','trophy']"></fa-icon> 1000 euros en metálico</p>
                  <p><fa-icon class="my-2 mx-2" [icon]="['fas','calendar']"></fa-icon>Las fechas de clasificatorios serán publicadas próximamente</p>
                </div>
              </div>
              <div class="row my-3 minitorneo">
                <div class="col-md-12">
                  <strong class="lgf-font titulo-torneo">Valorant – Amazonas Valorant Tournament.</strong>
                  <p class="my-2 mx-2 lgf-font"><fa-icon [icon]="['fas','trophy']"></fa-icon> Torneo Benéfico</p>
                  <p><fa-icon class="my-2 mx-2" [icon]="['fas','calendar']"></fa-icon>Fecha de clasificatorios por determinar</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <img class="accordion-button" src="./assets/juegos/RL.png" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree" />
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row minitorneo">
                <div class="col-md-12">
                  <strong class="lgf-font titulo-torneo">Rocket League – LGF Rocket</strong>
                  <p class="my-2 mx-2 lgf-font"><fa-icon [icon]="['fas','trophy']"></fa-icon> 800 euros en metálico</p>
                  <p><fa-icon class="my-2 mx-2" [icon]="['fas','calendar']"></fa-icon>Primer clasificatorio 6 de marzo y el segundo el 20 de marzo.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
