<header class="home-hero" role="banner">
  <img alt="poster image mobile" class="poster img-fluid mx-auto d-block" src="./assets/fondo-hero.jpg" />
  <div class="container d-flex flex-row animate__animated animate__backInUp">
    <div class="row">
      <div class="col-lg-12 d-flex flex-column justify-content-center text-white py-md-5 text-container">
        <h2 class="display-4 mb-0"> <span class="d-block font-weight-bold fuente-logo mx-3">LUGO GAMING FEST</span></h2>
        <h3 class="text-center">23 Y 24 DE ABRIL 2022</h3>
        <h4 class="text-center">Pazo de Feiras e Congresos de Lugo</h4>
        <div class="row d-flex justify-content-center my-5">
          <a class="btn btn-outline-light w-max mt-2 lgf-font" href="https://www.enterticket.es/eventos/lugo-gaming-fest-784947" target="_blank" tabindex="0">COMPRA TUS ENTRADAS</a>
        </div>
      </div>
    </div>
  </div>
</header>
