<header-seccion titulo="ACTIVIDADES"></header-seccion>
<div class="container">
  <div class="row">
    <div class="col-md-12 lgf-font my-5">
      <h3 class="lgf-font">En el evento tendremos una zona reservada para el disfrute de nuestros visitantes.</h3>
      <h4 class="lgf-font">Además tendremos diferentes torneos con premios que conoceréis las próximas semanas.</h4>
    </div>
  </div>
  <div class="row animate__animated animate__backInUp my-2">
    <div class="col-md-2">
      <img src="./assets/actividades/air.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Air Hockey
      </span>
    </div>
    <div class="col-md-2">
      <img src="./assets/actividades/canasta.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Baloncesto Doble
      </span>
    </div>
  </div>
  <div class="row my-5 animate__animated animate__backInUp">
    <div class="col-md-2">
      <img src="./assets/actividades/diana.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Diana Gigante
      </span>
    </div>
    <div class="col-md-2">
      <img src="./assets/actividades/futbolin.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Futbolines
      </span>
    </div>
  </div>
  <div class="row my-5 animate__animated animate__backInUp">
    <div class="col-md-2">
      <img src="./assets/actividades/recreativas.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Maquinas Arcade
      </span>
    </div>
    <div class="col-md-2">
      <img src="./assets/actividades/minigolf.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Minigolf
      </span>
    </div>
  </div>
  <div class="row my-5 animate__animated animate__backInUp">
    <div class="col-md-2">
      <img src="./assets/actividades/pinpon.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Ping Pong
      </span>
    </div>
    <div class="col-md-2">
      <img src="./assets/actividades/plays.png" alt="">
    </div>
    <div class="col-md-4 info-conciertos">
      <span class="lgf-font">
        Playstations
      </span>
    </div>
  </div>
</div>
