<div class="col-md-3 ">
  <div class="card profile-card-1">
      <img src="./assets/fondo-hero.jpg" alt="profile-sample1" class="background"/>
      <img src="https://randomuser.me/api/portraits/women/20.jpg" alt="profile-image" class="profile"/>
          <div class="card-content">
          <h2 class="lgf-font">{{nombre}}<small>{{ocupacion}}</small></h2>
          <div class="icon-block"><a href="#"><fa-icon [icon]="['fab','instagram']"></fa-icon></a><a href="#"> <fa-icon [icon]="['fab','twitter']"></fa-icon></a><a href="#"> <fa-icon [icon]="['fab','facebook']"></fa-icon></a></div>
          </div>
      </div>
</div>
