<header-seccion titulo="CALENDARIO"></header-seccion>
<div class="container">
  <div class="row my-3">
    <div class="col-md-12">
      <h3 class="lgf-font">Durante el fin de semana, disfrutaremos de un amplio calendario de actividades en nuestro escenario principal. Contaremos con competiciones oficiales del Circuito Tormenta, algún que otro showmatch y conciertos de diferentes ámbitos musicales que no dejarán al público indiferente.</h3>
      <img class="img-calendario my-3" src="./assets/imagenes_noticias/Horarios_de_Lugo-2.jpg" alt="Calendarios con los horarios del evento" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <h3 class="lgf-font">Como no podría ser de otro manera, tanto el sábado como el domingo, estaremos acompañados de diferentes profesionales del sector. Se encargarán de traernos ponencias donde se expondrán temas muy interesantes para los visitantes que tengamos en el evento.</h3>
      <img class="img-calendario my-3" src="./assets/imagenes_noticias/Horarios_de_Ponencias-3.jpg" alt="Calendarios con las ponencias del evento" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <h3 class="lgf-font">En la zona de arena, patrocinada por Beehive, tendremos diferentes torneos a lo largo de los dos días. Estos "opens" se han organizado con el fin de hacer la experiencia de los visitantes más intensa y así acercarlos un poco más al ámbito competitivo. Rocket League, League of Legends o Teamfight Tactics son algunos de los juegos en los que podréis probar vuestras habilidades.</h3>
      <img class="img-calendario my-3" src="./assets/imagenes_noticias/Horarios_de_Zona_arena_S-1.jpg" alt="Calendario de la zona arena del evento" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <h3 class="lgf-font">En la zona de actividades, hemos querido buscar vuestro lado más clásico y además de una amplia lista de actividades, durante ambos días tendremos torneos de tenis de mesa y futbolín. Esperamos que tengáis las muñecas preparadas, queremos ver vuestras habilidades en vivo.</h3>
      <img class="img-calendario my-3" src="./assets/imagenes_noticias/Horarios_de_Actividades-1.jpg" alt="Calendario de la zona actividades del evento" />
    </div>
  </div>
  <div class="row my-3">
    <div class="col-md-12">
      <h3 class="lgf-font">El sábado 23 a las 17:00h tenemos uno de los platos fuertes en nuestra zona de tarima. Ismael Prego "Wismichu", realizará un meet & greet donde los asistentes podrán conocerlo en persona y compartir una bonita experiencia con uno de los más grandes referentes del gaming y la creación de contenido en España.</h3>
      <img class="img-calendario my-3" src="./assets/imagenes_noticias/Presentacion_de_Wismichu_2-1.jpg" alt="Imagen Meet and Greet con Wismichu" />
    </div>
  </div>
</div>
