@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.fuente-logo {
  font-family: 'Orbitron', sans-serif !important;
}

.lgf-font {
  font-family: 'Orbitron', sans-serif !important;
}

body {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.bg-animated {
  background: linear-gradient(-45deg, #00b4f2, #009acf, #23a6d5, rgba(238, 238, 238, 0.315));
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
