<header-seccion titulo="NOTICIAS"></header-seccion>
<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 text-center">
          <categoria-boton-filtro *ngFor="let categoria of categorias" texto="{{categoria.nombre}}" (click) = "filtrarPorCategoria(categoria.id)"></categoria-boton-filtro>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 contenedor animate__animated animate__backInUp">
        <app-noticia-card *ngFor="let noticia of noticias" [noticia]=noticia></app-noticia-card>
      </div>
    </div>
  </div>
</section>
